---
# Using bitnami chart as truecharts has deprecated metallb
# See statics directory for configuration CRD
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: iot-metallb
  namespace: argocd
spec:
  project: default
  destination:
    namespace: metallb
    name: iot
  source:
    chart: metallb
    repoURL: registry-1.docker.io/bitnamicharts
    targetRevision: 6.4.22
    helm:
      releaseName: iot-metallb

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
