#!ipxe

set menu-timeout 20000
set submenu-timeout ${menu-timeout}
isset ${menu-default} || set menu-default local
set server_ip {{ pxe_http_server }}

menu
item --gap --   -------------Main----------------
item local      Local
item netboot    Netboot.xyz
item talos      Talos
item --gap --   -------------Misc----------------
item shell      Shell iPXE
item exit       Exit

choose --timeout ${menu-timeout} --default ${menu-default} target && goto ${target}

:local
sanboot --no-describe --drive 0x80

:netboot
dhcp
chain --autofree https://boot.netboot.xyz

:talos
dhcp
chain --autofree http://{{ pxe_http_server }}:{{ nginx_port }}/{{ nginx_http_pxe_url }}/talos/talos.ipxe

:shell
shell

:exit
exit
