d-i debian-installer/language         string   en
d-i debian-installer/country          string   US
d-i debian-installer/locale           string   en_US.UTF-8
d-i localechooser/supported-locales   en_US.UTF-8
d-i console-setup/ask_detect          boolean  false
d-i console-setup/layoutcode          string   us
d-i console-setup/charmap             select   UTF-8
d-i console-tools/archs               select   skip-config
d-i time/zone                         string   Europe/Paris
d-i hw-detect/load_firmware           boolean  true

d-i netcfg/enable                     boolean  true
d-i netcfg/use_autoconfig             boolean  true
d-i netcfg/disable_autoconfig         boolean  false
d-i netcfg/choose_interface           select   auto
d-i clock-setup/utc                   boolean  true
d-i clock-setup/ntp                   boolean  true
d-i clock-setup/ntp-server            string   fr.pool.ntp.org

# Disable anoying wep key dialog
d-i netcfg/wireless_wep string

# Root user
d-i passwd/make-user                  boolean  false
d-i passwd/root-login                 boolean  true
d-i passwd/root-password-crypted      password {{ ubuntu_root_password | password_hash('sha512') }}
d-i user-setup/allow-password-weak    boolean  true

d-i grub-installer/only_debian   boolean true
d-i grub-installer/with_other_os boolean false


##############
# Partioning #
##############
d-i user-setup/encrypt-home            boolean false
d-i partman-auto/method                string  lvm
d-i partman/default_filesystem         string  ext4
d-i partman-auto/purge_lvm_from_device boolean true
d-i partman-lvm/device_remove_lvm      boolean true
d-i partman-lvm/device_remove_lvm_span boolean true
d-i partman/alignment                  string  optimal
d-i partman-auto-lvm/guided_size       string  max

d-i partman-auto-lvm/new_vg_name            string  sys
d-i partman-basicfilesystems/no_swap        boolean false
d-i partman-auto/choose_recipe              select  mine
d-i partman-auto/expert_recipe              string  mine :: \
        512 512 1074 ext4                        \
            \$primary{ } \$bootable{ }           \
            method{ format } format{ }           \
            use_filesystem{ } filesystem{ ext4 } \
            mountpoint{ /boot }                  \
        .                                        \
        2000 1000 2000 ext4                      \
            \$lvmok{ }                           \
            lv_name{ root }                      \
            options/noatime{ noatime }           \
            label{ root }                        \
            in_vg { sys }                        \
            method{ format } format{ }           \
            use_filesystem{ } filesystem{ ext4 } \
            mountpoint{ / }                      \
        .                                        \
        8000 1000 10000 usr                      \
            \$lvmok{ }                           \
            options/noatime{ noatime }           \
            label{ usr }                         \
            in_vg { sys }                        \
            lv_name{ usr }                       \
            method{ format } format{ }           \
            use_filesystem{ } filesystem{ ext4 } \
            mountpoint{ /usr }                   \
        .                                        \
        5000 1000 10000 var                      \
            \$lvmok{ }                           \
            options/noatime{ noatime }           \
            label{ var }                         \
            in_vg { sys }                        \
            lv_name{ var }                       \
            method{ format } format{ }           \
            use_filesystem{ } filesystem{ ext4 } \
            mountpoint{ /var }                   \
        .                                        \
        10000 1000 50000 docker                  \
            \$lvmok{ }                           \
            options/noatime{ noatime }           \
            label{ docker }                      \
            in_vg { sys }                        \
            lv_name{ docker }                    \
            method{ format } format{ }           \
            use_filesystem{ } filesystem{ ext4 } \
            mountpoint{ /var/lib/docker }        \
        .                                        \
        1000 1000 2000 tmp                       \
            \$lvmok{ }                           \
            options/noatime{ noatime }           \
            label{ tmp }                         \
            in_vg { sys }                        \
            lv_name{ tmp }                       \
            method{ format } format{ }           \
            use_filesystem{ } filesystem{ ext4 } \
            mountpoint{ /tmp }                   \
        .                                        \
        500 500 1000 home                        \
            \$lvmok{ }                           \
            options/noatime{ noatime }           \
            label{ home }                        \
            in_vg { sys }                        \
            lv_name{ home }                      \
            method{ format } format{ }           \
            use_filesystem{ } filesystem{ ext4 } \
            mountpoint{ /home }                  \
        .                                        \
        100 100 100 ext4                         \
            \$lvmok{ }                           \
            in_vg { sys }                        \
            lv_name{ lv_delete }                 \
        .

# This makes partman automatically partition without confirmation
d-i partman-md/device_remove_md             boolean  true
d-i partman/mount_style                     select   uuid
d-i partman/choose_partition                select   finish
d-i partman/confirm_write_new_label         boolean  true
d-i partman-lvm/confirm_nooverwrite         boolean  true
d-i partman-lvm/confirm                     boolean  true
d-i partman/confirm_nooverwrite             boolean  true
d-i partman/confirm                         boolean  true

# Installation settings and mirror
d-i base-installer/install-recommends      boolean true
d-i base-installer/kernel/image            string  linux-generic
d-i apt-setup/non-free                     boolean true
d-i apt-setup/contrib                      boolean true
d-i apt-setup/use_mirror                   boolean true
d-i debian-installer/allow_unauthenticated boolean true
d-i mirror/country                         string  fr
d-i mirror/http/hostname                   string  archive.ubuntu.com
d-i mirror/http/directory                  string  /ubuntu
d-i mirror/http/proxy                      string

tasksel            tasksel/first                     multiselect standard
d-i                pkgsel/include                    string      openssh-server
d-i                pkgsel/upgrade                    select      none
popularity-contest popularity-contest/participate    boolean     false
d-i                finish-install/reboot_in_progress note

d-i preseed/late_command string \
  in-target apt-get update; \
  in-target apt-get -y upgrade; \
  in-target mkdir /root/.ssh; \
  in-target chmod 700 /root/.ssh; \
  wget -O /target/root/.ssh/authorized_keys http://{{ pxe_http_server }}:{{ nginx_port }}/{{ nginx_http_pxe_url }}/ubuntu/authorized_keys; \
  in-target apt-get install -y docker.io apt-transport-https curl gnupg; \
  wget --no-check-certificate -O /target/tmp/apt-key.gpg https://packages.cloud.google.com/apt/doc/apt-key.gpg; \
  in-target apt-key add /tmp/apt-key.gpg; \
  wget -O /target/etc/apt/sources.list.d/kubernetes.list http://{{ pxe_http_server }}:{{ nginx_port }}/{{ nginx_http_pxe_url }}/ubuntu/ubuntu-apt-kubernetes.list; \
  in-target apt-get update; \
  in-target apt-get install -y kubelet kubeadm kubectl; \
  in-target apt-mark hold kubelet kubeadm kubectl; \
  in-target /bin/systemctl daemon-reload; \
  in-target /bin/systemctl enable docker.service; \
  in-target sed -i '/^\/swapfile/d' /etc/fstab; \
  lvremove -f /dev/sys/lv_delete;
