#!ipxe

dhcp
kernel http://{{pxe_http_server}}/{{nginx_http_pxe_url}}/ubuntu/{{ubuntu.kernel}}
initrd http://{{pxe_http_server}}/{{nginx_http_pxe_url}}/ubuntu/{{ubuntu.initrd}}
imgargs {{ubuntu.kernel}} priority=low vga=788 ---
boot
