---
TZ: Europe/Paris

image:
  repository: eclipse-mosquitto
  tag: 2.0.20@sha256:8b396cec28cd5e8e1a3aba1d9abdbddd42c454c80f703e77c1bec56e152fa54e
  pullPolicy: IfNotPresent

initImage:
  repository: bash
  tag: alpine3.21
  pullPolicy: IfNotPresent

auth:
  enabled: true

workload:
  main:
    podSpec:
      initContainers:
        init:
          enabled: true
          type: init
          imageSelector: initImage
          command:
            - /usr/local/bin/bash
            - -c
            - |
              cp /extra-configs/passwordfile /mosquitto/configinc/passwordfile
              chmod 0700 /mosquitto/configinc/passwordfile

service:
  main:
    enabled: true
    type: LoadBalancer
    expandObjectName: true
    loadBalancerIP: 192.168.100.35
    ports:
      main:
        enabled: true
        port: 1883
        protocol: tcp
        targetPort: 1883

persistence:
  password:
    enabled: true
    type: secret
    objectName: mosquitto-passwordfile
    mountPath: /extra-configs
    expandObjectName: false
    targetSelectAll: true
    items:
      - key: passwordfile
        path: passwordfile
  data:
    enabled: true
    size: 1Gi
    type: pvc
    storageClassName: openebs-hostpath
  configinc:
    enabled: true
    size: 10Mi
    type: pvc
    storageClassName: openebs-hostpath
    targetSelectAll: true
