image:
  repository: nmaupu/cocktails
  tag: "1.1.8"

persistence:
  data:
    enabled: true
    type: pvc
    mountPath: /data
    targetSelectAll: true
    storageClass: openebs-zfs
    size: 200Mi
  cocktails-config:
    enabled: true
    type: configmap
    objectName: cocktails-data
    expandObjectName: false
    mountPath: /app/config
    defaultMode: "0644"
    items:
      - key: cocktails.yaml
        path: cocktails.yaml

service:
  main:
    enabled: true
    type: LoadBalancer
    expandObjectName: true
    loadBalancerIP: 192.168.99.6
    ports:
      main:
        enabled: true
        targetSelector: cocktails
        port: 5000
        protocol: tcp
        targetPort: 5000

ingress:
  main:
    enabled: true
    hosts:
      - host: cocktails.knas.home.fossar.net
        paths:
          - path: /
            pathType: Prefix
    integrations:
      certManager:
        certificateIssuer: google-dns-issuer-prod
        enabled: true
      traefik:
        allowCors: false
        enabled: true
        entrypoints:
          - websecure

global:
  annotations:
    # Reloader watches this ConfigMap and restarts pod on changes
    reloader.stakater.com/search: "true"
  traefik:
    fixedMiddlewares:
      - name: chain-basic
        namespace: ingress-controller

workload:
  main:
    type: Deployment
    podSpec:
      containers:
        main:
          probes:
            liveness:
              type: http
              path: /health
              port: 5000
              spec:
                initialDelaySeconds: 5
                periodSeconds: 10
                timeoutSeconds: 5
                failureThreshold: 5
                successThreshold: 1
            readiness:
              type: http
              path: /health
              port: 5000
              spec:
                initialDelaySeconds: 1
                periodSeconds: 2
                timeoutSeconds: 5
                failureThreshold: 5
                successThreshold: 1
            startup:
              type: http
              path: /health
              port: 5000
              spec:
                initialDelaySeconds: 1
                periodSeconds: 2
                timeoutSeconds: 5
                failureThreshold: 5
                successThreshold: 1
          env:
            STATE_DIR: /data
            ADMIN_PASSWORD: bartender
            SECRET_KEY: flask_key
            COCKTAILS_FILE_PATH: /app/config/cocktails.yaml
