#!/bin/bash

set -e
set -o pipefail

CONF="{{ gotomation.config }}"
TMP=/tmp/gotomation-config

if [ ! -e ${TMP} ]; then
  git clone "{{ gotomation.repo }}" "${TMP}"
fi

cd ${TMP} && \
  git fetch --all && \
  git reset --hard origin/master
rsync -a --delete "${TMP}/" "${CONF}"
