[Unit]
Description=Gotomation
After=network.target

[Service]
ExecStart=/usr/local/bin/gotomation -c {{ gotomation.config }} -t {{ gotomation.hass_token }}
WorkingDirectory=/etc
StandardOutput=inherit
StandardError=inherit
Restart=always
User={{ gotomation.user }}

[Install]
WantedBy=multi-user.target
