---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: metallb
  namespace: argocd
spec:
  project: default
  destination:
    namespace: metallb
    name: in-cluster
  source:
    chart: metallb
    repoURL: registry-1.docker.io/bitnamicharts
    targetRevision: 6.4.22
    helm:
      releaseName: metallb

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
