demoCommand:     xscreensaver-demo
prefsCommand:    xscreensaver-demo -prefs
timeout:         0:03:00
cycle:           0:00:00
lock:            True
lockTimeout:     0:00:00
passwdTimeout:   0:00:30
initialDelay:    0:00:00
installColormap: True
verbose:         False
timestamp:       True
nice:            10
memoryLimit:     0
fade:            True
unfade:          False
fadeSeconds:     0:00:03
fadeTicks:       20
font:            *-medium-r-*-140-*-m-*
dpmsEnabled:     True
dpmsQuickOff:    False
dpmsStandby:     0:15:00
dpmsSuspend:     0:15:00
dpmsOff:         0:00:00
mode:            one
selected:        0

programs:             \
  substrate     -root \n\
  electricsheep -root \n\
