{
  "data": {
    "users": [
      {
        "password": "{{ pwd }}",
        "username": "{{ hass.defaults.user.username }}"
      }
    ]
  },
  "key": "auth_provider.homeassistant",
  "version": 1
}
