#!/bin/bash

set -euo pipefail

cert_perms() {
  chmod 644 /home/homeassistant/certs/homeassistant-cert.crt
  chmod 600 /home/homeassistant/certs/homeassistant-cert.key
  chown -R homeassistant: /home/homeassistant/certs
}

: "${NAS:=192.168.12.8}"
: "${MOUNTPOINT:=/mnt/le-certs}"

mkdir -p "$MOUNTPOINT"
mount -t nfs "$NAS":/mnt/tank/le-certs "$MOUNTPOINT" -o nolock,ro

# Using --checksum here to avoid rsync from replacing files if timestamp changes (cronjob syncing cert files replace them with the same ones every day)
if rsync -ai --checksum --delete --include='./' --include='homeassistant-cert.*' --exclude='*' "$MOUNTPOINT/" /home/homeassistant/certs | grep -q '^>'; then
  cert_perms
  systemctl restart homeassistant
else
  cert_perms
fi

umount "$MOUNTPOINT"
