---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: iot-gotomation
  namespace: argocd
spec:
  project: default
  destination:
    namespace: gotomation
    name: iot
  source:
    source:
    repoURL: https://github.com/nmaupu/gotomation.git
    targetRevision: main
    path: deploy
    plugin:
      name: custom-jsonnet
      parameters:
        - name: values
          string: >-
            image:
              tag: 1.1.16
              pullPolicy: IfNotPresent
            git:
              pullPolicy: IfNotPresent
            gotomation:
              config:
                pvc:
                  storageClassName: openebs-hostpath
                  size: 10Mi
            existingSecretEnvVars: gotomation-extra-flags

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
