apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prowlarr
  namespace: argocd
spec:
  project: default
  destination:
    namespace: dls
    name: in-cluster
  sources:
    - chart: prowlarr
      repoURL: oci.trueforge.org/truecharts
      targetRevision: 21.1.0
      helm:
        releaseName: prowlarr
        valueFiles:
          - $values/k8s/argocd/nas/deploy/dls/prowlarr/values.yaml
    - repoURL: https://github.com/nmaupu-org/auto-home.git
      targetRevision: master
      ref: values
  ignoreDifferences:
    - group: apps
      kind: Deployment
      jqPathExpressions:
        - .spec.template.spec.hostUsers
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
