---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: iot-traefik-crds
  namespace: argocd
spec:
  project: default
  destination:
    namespace: ingress-controller
    name: iot
  sources:
    - chart: traefik-crds
      repoURL: oci.trueforge.org/truecharts
      targetRevision: 3.5.0
      helm:
        releaseName: traefik-crds

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
