[defaults]
roles_path = /usr/local/etc/ansible/roles:/etc/ansible/roles:/home/builder/.ansible/roles
host_key_checking = False
lookup_plugins = plugins/lookup
# Beware: this option change dictionary behavior.
# When overriding, it merges with defaults values instead of replacing
# It avoid rewriting bunch of defaults each time we want to override a single value
# For instance, see firewall defaults firewall_dhcp variable
hash_behaviour = merge
allow_world_readable_tmpfiles = true
