{
  "file": 1,
  "format": 1
}
{
  "info_sent": 0.0,
  "lsd": {{core.lsd}},
  "send_info": false,
  "download_location": "{{core.download_location}}",
  "move_completed_path": "{{core.completed_location}}",
  "enc_in_policy": 1,
  "queue_new_to_top": false,
  "ignore_limits_on_local_network": true,
  "rate_limit_ip_overhead": true,
  "daemon_port": {{core.daemon_port}},
  "natpmp": {{core.natpmp}},
  "utpex": {{core.utpex}},
  "max_active_limit": {{core.max_active_limit}},
  "max_active_downloading": {{core.max_active_downloading}},
  "max_active_seeding": {{core.max_active_seeding}},
  "allow_remote": {{core.allow_remote}},
  "max_half_open_connections": {{core.max_half_open_connections}},
  "compact_allocation": false,
  "max_upload_speed": -1.0,
  "cache_expiry": 60,
  "prioritize_first_last_pieces": false,
  "auto_managed": true,
  "enc_level": 2,
  "max_connections_per_second": 50,
  "dont_count_slow_torrents": true,
  "random_outgoing_ports": true,
  "max_upload_slots_per_torrent": -1,
  "new_release_check": false,
  "enc_out_policy": 1,
  "outgoing_ports": [
    0,
    0
  ],
  "seed_time_limit": {{core.seed_time_limit}},
  "cache_size": 1024,
  "share_ratio_limit": -1.0,
  "max_download_speed": -1.0,
  "geoip_db_location": "{{core.geoip_db_location}}",
  "torrentfiles_location": "{{core.torrentfiles_location}}",
  "stop_seed_at_ratio": {{core.stop_seed_at_ratio}},
  "peer_tos": "0x00",
  "listen_interface": "",
  "upnp": {{core.upnp}},
  "max_download_speed_per_torrent": -1,
  "max_upload_slots_global": -1,
  "enabled_plugins": [
    "Label"
  ],
  "random_port": false,
  "autoadd_enable": false,
  "max_connections_global": {{core.max_connections_global}},
  "enc_prefer_rc4": true,
  "listen_ports": [
    {{core.listen_port_beg}},
    {{core.listen_port_end}}
  ],
  "dht": {{core.dht}},
  "stop_seed_ratio": {{core.stop_seed_ratio}},
  "seed_time_ratio_limit": -1.0,
  "max_upload_speed_per_torrent": -1,
  "copy_torrent_file": true,
  "del_copy_torrent_file": false,
  "move_completed": {{core.move_completed}},
  "proxies": {
    "peer": {
      "username": "",
      "password": "",
      "type": 0,
      "hostname": "",
      "port": 8080
    },
    "web_seed": {
      "username": "",
      "password": "",
      "type": 0,
      "hostname": "",
      "port": 8080
    },
    "tracker": {
      "username": "",
      "password": "",
      "type": 0,
      "hostname": "",
      "port": 8080
    },
    "dht": {
      "username": "",
      "password": "",
      "type": 0,
      "hostname": "",
      "port": 8080
    }
  },
  "add_paused": {{core.add_paused}},
  "max_connections_per_torrent": -1,
  "remove_seed_at_ratio": {{core.remove_seed_at_ratio}},
  "plugins_location": "{{core.plugins_location}}"
}
