matchbox_http_endpoint = "http://{{matchbox_url}}"
matchbox_rpc_endpoint = "{{matchbox_rpc_url}}"
ssh_authorized_key = "{{coreos_ssh_pub_key}}"

cluster_name = "{{kube_cluster_name}}"
container_linux_version = "{{coreos_version}}"
container_linux_channel = "{{coreos_branch}}"

# Machines
controller_names   = [{{ controllers | join(', ', attribute=('name'))   }}]
controller_macs    = [{{ controllers | join(', ', attribute=('mac'))    }}]
controller_domains = [{{ controllers | join(', ', attribute=('domain')) }}]
worker_names       = [{{ workers     | join(', ', attribute=('name'))   }}]
worker_macs        = [{{ workers     | join(', ', attribute=('mac'))    }}]
worker_domains     = [{{ workers     | join(', ', attribute=('domain')) }}]

# Bootkube
k8s_domain_name = "{{kube_domain_name}}"
asset_dir = "assets"

# Optional (defaults)
cached_install = "true"
install_disk = "/dev/sda"
