apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: sonarr
  namespace: argocd
spec:
  project: default
  destination:
    namespace: dls
    name: in-cluster
  sources:
    - chart: sonarr
      repoURL: oci.trueforge.org/truecharts
      targetRevision: 25.0.1
      helm:
        releaseName: sonarr
        valueFiles:
          - $values/k8s/argocd/nas/deploy/dls/sonarr/values.yaml
    - repoURL: https://github.com/nmaupu-org/auto-home.git
      targetRevision: master
      ref: values
  ignoreDifferences:
    - group: apps
      kind: Deployment
      jqPathExpressions:
        - .spec.template.spec.hostUsers
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
