persistence:
  tvshows:
    enabled: true
    type: hostPath
    hostPath: /mnt/tank/dls/plex/TVShows-sonaar
    mountPath: /data/tvshows
    readOnly: true
  movies:
    enabled: true
    type: hostPath
    hostPath: /mnt/tank/dls/plex/Movies
    mountPath: /data/movies
    readOnly: true

service:
  main:
    enabled: true
    ports:
      main:
        enabled: true
        targetSelector: http-plex
        port: 80
        protocol: tcp
        targetPort: 80

ingress:
  main:
    enabled: true
    hosts:
      - host: http-plex.knas.home.fossar.net
        paths:
          - path: /
            pathType: Prefix
    integrations:
      certManager:
        certificateIssuer: google-dns-issuer-prod
        enabled: true
      traefik:
        allowCors: false
        enabled: true
        entrypoints:
          - websecure

global:
  traefik:
    fixedMiddlewares:
      - name: chain-basic
        namespace: ingress-controller

workload:
  main:
    podSpec:
      containers:
        main:
          securityContext:
            runAsUser: 1001
            runAsGroup: 1001
          probes:
            liveness:
              type: http
              path: /
              port: 80
              spec:
                initialDelaySeconds: 5
                periodSeconds: 10
                timeoutSeconds: 5
                failureThreshold: 5
                successThreshold: 1
            readiness:
              type: http
              path: /
              port: 80
              spec:
                initialDelaySeconds: 1
                periodSeconds: 2
                timeoutSeconds: 5
                failureThreshold: 5
                successThreshold: 1
            startup:
              type: http
              path: /
              port: 80
              spec:
                initialDelaySeconds: 1
                periodSeconds: 2
                timeoutSeconds: 5
                failureThreshold: 5
                successThreshold: 1
          env:
            SERVER_ROOT: /data
            SERVER_PORT: "80"
            SERVER_DIRECTORY_LISTING: "true"
            SERVER_RESPONSE_HEADERS: '{"Content-Disposition": "attachment"}'
