worker_processes  1;

events {
    worker_connections  1024;
}

http {
    include           mime.types;
    default_type      application/octet-stream;
    sendfile          on;
    keepalive_timeout 65;

    upstream kube_nodes_30080 {
{% for knode in kube_nodes %}
        server {{knode}}:30080;
{% endfor %}
    }

    server {
        listen      80;
        server_name kube-ops-view.*;

        location / {
            proxy_pass http://kube_nodes_30080;
            proxy_set_header Host $host;
            proxy_set_header Connection keep-alive;
            proxy_buffering off;
            proxy_request_buffering off;
        }
    }

    server {
        listen      80;
        server_name photoweb.*;

        location / {
            proxy_pass http://kube_nodes_30080;
            proxy_set_header Host $host;
            auth_basic "Restricted area";
            auth_basic_user_file {{rproxy_conf_dir}}/htpasswd.photoweb;
        }
    }

    server {
        listen       80;
        server_name  _;

        location / {
            proxy_pass http://kube_nodes_30080;
            proxy_set_header Host $host;
        }
    }
}
